{% extends "chat.html" %}

{% block title %}
    
{% if page == 'create' %}
DMLtech: create Forum
{% else %}
DMLtech: update Forum
{% endif %}

{% endblock title %}

{% block content %}
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{{request.META.HTTP_REFERER}}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>
              {% if page == 'create' %}
              create Forum
              {% else %}
              update Forum
              {% endif %}
            </h3>
          </div>
        </div>

        <div class="layout__body">
          
          {% if page == 'create' %}
          <form class="form" action="" method="POST">
            {% csrf_token %}
            
            {% for field in form  %}
            <div class="form__group">
              <label for="room_name">{{field.label}} </label>
              {{field}}  
            </div>
            {% endfor %}

            <div class="form__action">
              <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
              {% if pag == 'create' %}
              <input class="btn btn--main" type="submit" value="create">
                {% else %}
                <input class="btn btn--main" type="submit" value="update">
                {% endif %}  
              </input>
            </div>
          </form>
          {% elif page == 'suggest' %}
          <form class="form" action="{% url 'chatroom:suggest-room'%}" method="POST">
            {% csrf_token %}
            
            {% for field in form  %}
            <div class="form__group">
              <label for="room_name">{{field.label}} </label>
              {{field}}  
            </div>
            {% endfor %}

            <div class="form__action">
              <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
              
              <input class="btn btn--main" type="submit" value="create">
                 
              </input>
            </div>
          </form>
          {% endif %}
            
        </div>
      </div>
    </div>
  </main>
{% endblock content %}