{% extends "chat.html" %}

{% block title %}
    chatroom
{% endblock title %}

{% block content %}
    <header>
        <h1 class="head">Rooms</h1>
        <a href="{% url 'user:resource' %}"><h4>home</h4></a>
    </header>
    
    <div class="temp">
        <div>
            {% include "topics.html" %}
        </div>
        <div>
            <h2>Rooms</h2><hr>
            <p>
                <a href="{% url 'chatroom:create-room' %}">Create Room</a> 
                ({{ count }} rooms available)
            </p>
            <br/>
            {% include "feeds.html" %}
        </div>
        <div>
            {% include "recent.html" %}
        </div>
    </div>



{% endblock content %}