{% extends "chat.html" %}

{% block title %}
    chatroom
{% endblock title %}

{% block content %}
    <header>
        <h1 class="head">Rooms</h1>
        <a href="{% url 'home:homepage' %}"><h4>home</h4></a>
    </header>
    
    <div class="temp">
        <div>
            <h2>Browse topic</h2>
            <hr>
            <a href='{% url "chatroom:homepage" %}' title='All'>
            <ion-icon name="home" size='large'></ion-icon>
            </a>
            {% for topic in topics %}
                <h4 class='sidebar'>
                {% if topic.name == 'Python' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" aria-label='Python' title='Python'>
                    <ion-icon name="logo-python" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Gen AI' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Gen AI'>
                    <ion-icon name="aperture" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Web development' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Web development'>
                    <ion-icon name="logo-web-component" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'JavaScript' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='JavaScript'>
                    <ion-icon name="logo-javascript" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'SQL' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='SQL'>
                    <ion-icon name="albums" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Django' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Django'>
                    <ion-icon name="earth" size='large'></ion-icon>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h2>Rooms</h2><hr>
            <a href="{% url 'chatroom:create-room' %}">Create Room</a>
            {% for room in rooms %}
                <div class="room">
                    {% if request.user == room.host %}
                    <a href="{% url 'chatroom:update-room' room.id %}">Edit Room </a>|
                    <a href="{% url 'chatroom:delete-room' room.id %}">Delete Room </a>
                    {% endif %}
                    <span>@<a href="">{{ room.host }}</a></span>
                    <h5><a href="{% url 'chatroom:room' room.id %}">{{ room.name }}</a></h5>
                    <small>{{ room.description }}</small>
                    <br>
                    <small><a href="">{{ room.topic }}</a></small>
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Recent</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, unde? Deleniti quae alias fuga? Enim itaque maxime facere, ratione rem assumenda quo dolores, obcaecati, tenetur optio omnis quisquam atque cumque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore atque quas quidem temporibus ea iure beatae officiis debitis repellat expedita. Exercitationem quasi tenetur sapiente velit, non repudiandae similique debitis quas.</p>
        </div>
    </div>



{% endblock content %}