{% extends "chat.html" %}

{% block title %}
    {{ room.name }}
{% endblock title %}

{% block content %}
            <div>
                <h1>{{ room.name }}</h1>
                <p>{{ room.description }}</p>
            </div>
    <div class="room-container">
            <div class="message-wrapper">
                <h3>Conversation</h3>
                {% for message in R_messages %}
                    <small>@<a href="{% url 'user:profile' message.user.id %}">{{ message.user }}</a> {{ message.created|timesince}} ago</small>
                    <p>{{ message.body }}</p>
                    <br>
                    {% if request.user == message.user or request.user.is_superuser %}
                        <a href="{% url 'chatroom:delete-message' message.id %}">delete message</a>
                    {% endif %}
                    <hr>
                {% endfor %}
                <div class="comment-form" id='message'>
                    <form action="" method='POST'>
                        {% csrf_token %}
                        <input type="text" name='body' placeholder='write a comment' href='#message'> 
                    </form>
                </div>
            </div>
            <div>
                <h3>participants</h3>
                <hr>
                    {% for p in participants %}
                        <h5><a href="{% url 'user:profile' p.id %}">@{{ p }}</a></h5>
                    {% endfor %}
            </div>
    </div>

{% endblock content %}
