<h3>Recent activities</h3>
            <hr>
            {% for message in R_messages %}
                <div>
                    <small><a href="{% url 'user:profile' message.user.id %}">{{ message.user }}</a>   {{ message.created|timesince}} ago</small>
                    <small>replied to @{{message.room}}</small>

                    <p> {{ message }} </p>

                    {% if request.user == message.user or request.user.is_superuser %}
                        <a href="{% url 'chatroom:delete-message' message.id %}">delete message</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}