                
        <div class="topics">
          <div class="topics__header">
            <h2>Browse Topics</h2>
          </div>
          <ul class="topics__list">
            <li>
              <a href="{% url "chatroom:homepage" %}" class="active">All <span>{{count}} </span></a>
            </li>
            {% for topic in topics %}
            <li>
              <a href="{% url "chatroom:homepage" %}?q={{topic.name}}"> {{topic.name}} <span>{{topic.room_set.all.count}} </span></a>
            </li>
            {% endfor %}
          </ul>
          <a class="btn btn--link" href="topics.html">
            More
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>chevron-down</title>
              <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
          </a>
        </div>



{% comment %} 
        {% if topic.name == 'Python' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" aria-label='Python' title='Python'>
                    <ion-icon name="logo-python" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Gen AI' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Gen AI'>
                    <ion-icon name="aperture" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Web development' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Web development'>
                    <ion-icon name="logo-web-component" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'JavaScript' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='JavaScript'>
                    <ion-icon name="logo-javascript" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'SQL' %}
                    <a href="" title='SQL'>
                    <ion-icon name="albums" size='large'></ion-icon>
                    </a>
                {% endif %}
                {% if topic.name == 'Django' %}
                    <a href="{% url "chatroom:homepage" %}?q={{topic.name}}" title='Django'>
                    <ion-icon name="earth" size='large'></ion-icon>
                    </a>
                {% endif %} {% endcomment %}