{% extends "chat.html" %}

{% block title %}
    DMLtech: {{ user }} profile

{% endblock title %}

{% block content %}
    <body>
  
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        {% include "topics.html" %}
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h4>{{user.username}} </h4>
            <p>{{user.email}}</p>
            {% if request.user == user %}
            	<a href="{% url 'user:update' %}" class="btn btn--main btn--pill">Edit Profile</a> 
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>BIO</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>
              
              {% if user.is_superuser %}
              Study Rooms Hosted by 
              {% else %}
              Rooms Suggested by
              {% endif %}
              {% if user == request.user %}
                YOU
              {% else %}
              {{user.username}}
              {% endif %}
              </a>
            </h2>
          </div>
        </div>
          {% include "feed.html" %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Recent Activities</h2>
        </div>
        {% include "recent.html" %}
      </div>
      <!-- Activities End -->
    </div>
  </main>
</body>

</html>

{% endblock content %}



